:root {
  --primary-bgc: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --contrast-color: #fff;
}

body {
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);
}

header {
  background-color: #fff;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo-blue {
  color: var(--accent-color);
}

.logo-blue:hover {
  color: #000000;
}

.logo-black {
  color: #000000;
}

.logo-black:hover {
  color: var(--accent-color);
}
/*  Site nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.head-contacts a {
  color: var(--primary-text-color);
}

.head-contacts a:hover,
.head-contacts a:focus {
  color: var(--accent-color);
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.logo-white {
  color: var(--contrast-color);
}
.adress {
  color: var(--contrast-color);
}
.ftr-contacts {
  color: rgba(255, 255, 255, 0.6);
}
