:root {
    --primary-text-color: (white);
    --title-text-color: ();
    --accent-color: ();
}

/*  Site nav */
.site-nav .link {
    color: var(--accent-color)
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--title-text-color);
}

/* Hero */

